.container{
  background-color: rgb(12, 12, 59);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
      height: 50px;
      width: 50px;
    }
    h1{
      text-align: center;
    }
  }
  .citation{
    display: flex;
    flex-direction: column;
    .name{
      align-self: flex-end;
    }
  }
}